networks:
  appnet:
    external: true
    name: marc_appnet

services:
  marc-web-dev:
    container_name: marc-web-prod
    image: tanesc/marc_web:0.4.1
    restart: unless-stopped
    networks: [appnet]
    ports:
      - "8080:8080"
    volumes:
      - /srv/marc_infra:/data:ro,Z
    environment:
      MARC_DB_URL: sqlite:////data/marc.sqlite?mode=ro&immutable=1
      MARC_DB_LAST_SYNC: /data/last_sync.txt
      MODEL: ${OPENAI_MODEL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import urllib.request,sys;sys.exit(0 if urllib.request.urlopen('http://localhost:8080/health').getcode()<400 else 1)",
        ]
      interval: 30s
      timeout: 5s
      retries: 3
